<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div th:replace="headerLogin :: headerLogin"></div>
<!-- banner -->
<section class="ab-info-main py-md-5 py-4">
    <div class="container">
        <div class="ab-info-grids pt-md-5 pt-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">ADMIN CONTROL PANEL</h3>
            <div id="products" class="row view-group">
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Register Instructor</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/admin/registerInstructor}" class="btn btn-secondary">Register Instructor</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Instructor</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/users/{roleId}(roleId=2)}"  class="btn btn-secondary" > Instructor</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Register Administrator</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/admin/registerAdministrator}" class="btn btn-secondary" >Register Administrator</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Administrator</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/users/{roleId}(roleId=1)}" class="btn btn-secondary" > Administrator</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Register Student</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/registration}" class="btn btn-secondary" >Register Student</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                 Students</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/users/{roleId}(roleId=3)}" class="btn btn-secondary" >Students</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Create Course</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/course/create}" class="btn btn-secondary" >Create Course</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                All  Courses</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/course/courses}" class="btn btn-secondary" >All courses</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Create class</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/class/create}" class="btn btn-secondary" >Create class</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                All  Classes</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/class/classes}" class="btn btn-secondary" >All classes</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Create Module</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a  th:href="@{/activities/create}" class="btn btn-secondary" >Create Module</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                All  Modules</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/activities/all}" class="btn btn-secondary" >All Modules</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 thumb-last">
                    <div class="thumbnail card">

                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Unaccepted Student Applications</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">


                                <a th:href="@{/application/unaccepted}" class="btn btn-secondary" >Unaccepted Student Applications</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- //banner -->



</body>
</html>